.add{
    background: url("/SKYWORTH_MES/assets/images/add.png");
}
.delete{
    background: url("/SKYWORTH_MES/assets/images/delete.png");
}
.refalsh{
    background: url("/SKYWORTH_MES/assets/images/reflash.png");
}
.submit{
    background: url("/SKYWORTH_MES/assets/images/sousuo.png");
}
.top-monitor{
    background: url("/SKYWORTH_MES/assets/images/top-monitor.png");
}